# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Entornos y secretos
.venv/
venv/
.env

# Django
db.sqlite3
media/*
!media/.gitkeep
staticfiles/

# Editores y sistema operativo
.idea/
.vscode/
.DS_Store
Thumbs.db

# Registros
logs/*
!logs/.gitkeep

